# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\860234\OneDrive - Southern Alberta Institute of Technology\Java Servlet\Examples\demo\JSPTravelExperts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
